.gkwelcome
{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    background-color: orange;
    font-style: italic;
    height:7.5vh;
    width:100vw;
    
}